In [1]:
import os

os.makedirs(os.path.join('..','data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write("Numrooms, Alley, Prices\n")
    f.write("NA, Pave, 127500\n")
    f.write("2,NA,106000\n")
    f.write("4,NA,178100\n")
    f.write("NA,NA,14000\n")

In [2]:
import pandas as pd
data = pd.read_csv(data_file)
print(data)

   Numrooms  Alley   Prices
0       NaN   Pave   127500
1       2.0    NaN   106000
2       4.0    NaN   178100
3       NaN    NaN    14000

In [3]:
inputs, outputs = data.iloc[:,0:2], data.iloc[:,2]
print(inputs, '\n',outputs)

   Numrooms  Alley
0       NaN   Pave
1       2.0    NaN
2       4.0    NaN
3       NaN    NaN
 0    127500
1    106000
2    178100
3     14000
Name:  Prices, dtype: int64

In [4]:
inputs = inputs.fillna(inputs.mean())
inputs

   Numrooms  Alley
0       3.0   Pave
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

In [5]:
print(pd.get_dummies(inputs, dummy_na=False))

   Numrooms   Alley_ Pave
0       3.0             1
1       2.0             0
2       4.0             0
3       3.0             0

In [6]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   Numrooms   Alley_ Pave   Alley_nan
0       3.0             1           0
1       2.0             0           1
2       4.0             0           1
3       3.0             0           1

In [7]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100,  14000]))